@import '.../../../../../../styles.scss';

$background: map-get($app-colors, 'background');
$accent1: map-get(
    $map: $app-colors,
    $key: 'accent1'
);
$accent2: map-get(
    $map: $app-colors,
    $key: 'accent2'
);
$warn: map-get(
    $map: $app-colors,
    $key: 'warn'
);

.container {
    min-height: 100vh;

    background: $background;

    .branding-container {
        position: relative;

        &::after {
            content: '';

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            background: linear-gradient(
                180deg,
                transparentize($background, 1) 57.46%,
                $background 100%
            );
        }

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            color: #fff;
            font-weight: 900;
            font-size: 96px;
        }
    }

    form {
        h1 {
            color: $accent2;
        }

        mdc-text-field {
            @include mdc-text-field-fill-color(#2a3169);
            @include mdc-text-field-bottom-line-color(#fff);
            @include mdc-text-field-label-color(#fff);
            @include mdc-text-field-ink-color(#fff);
            @include mdc-text-field-caret-color(#fff);

            &:hover {
                @include mdc-text-field-bottom-line-color(#fff);
            }

            &:not(.mdc-text-field--invalid) {
                @include mdc-text-field-line-ripple-color($accent1);
            }

            &.mdc-text-field--invalid {
                @include mdc-text-field-line-ripple-color(
                    map-get($map: $app-colors, $key: 'fail')
                );
            }
        }
    }
}
