:host {
    display: block;
    padding: 24px;
    width: 900px;
    max-width: calc(100% - 48px);
    margin: 0 auto;

    min-height: 100vh;

    position: relative;
}

.spinner-container {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.uploads {
    margin-top: 18px;

    .upload-task {
        p {
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        mat-progress-bar {
            height: 7px;
            border-radius: 3px;
        }
    }
}

mat-grid-list {
    mat-grid-tile {
        p {
            display: inline;

            position: absolute;
            bottom: 6px;
            right: calc(6px + 1.42857vw);

            z-index: 100;

            background: white;
            color: #000;
            font-weight: bold;

            margin: 0;

            border: 2px solid white;

            box-shadow: 1.42857vw 0 0 white, -1.42857vw 0 0 white;
        }

        button {
            position: absolute;
            right: 6px;
            top: 6px;

            color: #000;
            font-size: 22px;
            background: white;
        }
    }
}
