:host {
    display: block;
    width: 900px;
    max-width: calc(100% - 48px);

    min-height: 100vh;

    margin: 0 auto;

    padding: 24px;
}
ion-icon {
    &[name='add'] {
        font-size: 22px;
        margin-right: 7px;
    }
}

[mat-raised-button][class='dashboard--add-space'] {
}
