mat-sidenav {
    width: 300px;

    .header {
        position: relative;
        height: 300px;

        button {
            position: absolute;

            right: 0;
            top: 0;
        }
    }
}

[mat-button] {
    ion-icon {
        font-size: 23px;
    }
}
