@import '../../../../styles.scss';

$background: map-get(
    $map: $app-colors,
    $key: 'background'
);

mat-sidenav {
    width: 300px;

    .header {
        position: relative;
        height: 300px;

        button {
            position: absolute;

            right: 0;
            top: 0;
        }
    }
}

mat-sidenav-content {
    background: $background;
    min-height: 100vh;
}

[mat-button] {
    ion-icon {
        font-size: 23px;
    }
}
